.home {
    margin-left: 40px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(43, 38, 38);
    border-color: rgb(224, 196, 158);
}

.home:hover {
    background-color: rgb(168, 240, 240);
    font-style: italic;
}


.loginBtn {
    display: flex;

    margin-right: 30px;
    align-items: center;

}

.btn {

    background-color: rgb(228, 228, 180);
    cursor: pointer;
    border-radius: 4px;

    border-color: rgb(224, 196, 158);
    margin-left: 20px;
}

.btn:hover {
    background-color: rgb(168, 240, 240);
    font-style: italic;
}