.form{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    background-color: blanchedalmond;
    border-radius: 4px;
    
}
.label{
   padding:  20px;
}
.name{
    margin-right: 26px;
}
.number{
    margin-right: 10px;
}
.button{
    background-color: rgb(228, 228, 180);
    cursor: pointer;
    border-radius: 4px;
    
    border-color: rgb(224, 196, 158);
}
.button:hover{
    background-color: rgb(168, 240, 240);
    font-style: italic;
}