.container {
    display: flex;
   
}



.list {
    list-style: none;

}

.listItem {

    text-decoration: none;

    cursor: pointer;
    border-radius: 4px;
    color: rgb(43, 38, 38);
    border-color: rgb(224, 196, 158);
    margin-bottom: 10px;
}

.listItem:hover {
    background-color: rgb(168, 240, 240);
    font-style: italic;
}